.text-centered
  %h4
    %a{ href: article.url }= article.title

.date.text-centered
  %h6
    %a{ href: article.data.fetch("author_url", '/') }
      = article.data.fetch("author", 'MemphisRuby')
    —
    = article.date.strftime("%B %e, %Y")
%br
.body= preserve(article.body)

.row.text-centered
  %h5
    Tagged:
    = tag_links(article.tags)
